<h1>New Content Input</h1>

<%= link_to "Home Page", contents_path %>

<% @content.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>

<%= form_for @content do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title,  class: 'form-control' %>

  <%= f.label :label_type %>
  <%= f.text_field :label_type,  class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_field :description,  class: 'form-control' %>

  <%= f.submit class: "btn btn-primary"%>

<% end %>
